// Class variables
$component-class: '.string-calculator-component-class';


// Color Variables
$primary-color: #007bff;
$hover-color: #0056b3;
$text-color: #333;
$invalid-border-color: #f44336;
$disabled-background-color: #d3d3d3;
$placeholder-color: #aaa;
$background-color: #f9f9f9;
$box-shadow-color: rgba(0, 0, 0, 0.1);

// Border and Radius
$border-radius: 5px;
$input-border-color: #ccc;
$input-focus-border-color: $primary-color;
$input-border-radius: $border-radius;

// Font Sizes
$font-size: 16px;
$font-size-small: 14px;
$font-size-large: 18px;
$font-size-heading: 20px;
$font-size-button: 16px;

// Spacing
$padding: 10px;
$input-box-width: 600px;
$input-box-height: 300px;
$margin-bottom: 10px;
$margin-top: 30px;
$input-padding: 10px;
$button-padding-x: 20px;
$button-padding-y: 10px;

// Font Family
$font-family: Arial, sans-serif;


// Animations
$animation-duration: 0.3s;
$animation-ease: ease-in-out;



// Mixin Definitions
@mixin inputBoxBaseStyles {
    width: $input-box-width;
    min-height: $input-box-height;
    max-height: $input-box-height;
    padding: 0 $input-padding 0 $input-padding;
    font-size: $font-size;
    border: 1px solid $input-border-color;
    border-radius: $border-radius;
    transition: border-color 0.3s ease;

    @media (max-width: 768px) {
        min-height: 300px;
        max-height: 300px;
    }

}

@mixin buttonBaseStyles {
    padding: $button-padding-y $button-padding-x;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    font-size: $font-size-button;
    transition: background-color 0.3s ease;
}

@mixin flexRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

// Component Styles
#{$component-class} {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    font-family: $font-family;

    .header-component {
        margin-bottom: 100px;
        text-align: center;
    }

    .input-box {
        @include inputBoxBaseStyles();

        &:focus {
            border-color: $input-focus-border-color;
            outline: none;
        }

        &::placeholder {
            color: $placeholder-color;
        }
    }

    .invalid-input-box {
        @include inputBoxBaseStyles();
        border-color: $invalid-border-color;
    }

    .button {
        @include buttonBaseStyles();
        background-color: $primary-color;
        color: white;

        &:hover {
            background-color: $hover-color;
        }

        &:disabled {
            background-color: $disabled-background-color;
            cursor: not-allowed;
        }
    }

    // Input Rules Section

    // Input Rules Container
    .input-rules-container {
        width: 400px;
        transition: height $animation-duration $animation-ease;

        h3 {
            font-size: $font-size-heading;
            color: $text-color;
            margin-bottom: 10px;
        }

        ul li {
            font-size: $font-size-small;
            color: #777;
            margin-bottom: 5px;
        }

        @media (max-width: 768px) {
            width: 100%;
        }

        // Input Rules Content
        .input-rules-content {
            padding: 15px;
            background-color: #f9f9f9;
            border-radius: 6px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            opacity: 1;
            transition: opacity $animation-duration $animation-ease;

            &.expanded {
                opacity: 1;
            }

            &.collapsed {
                opacity: 0;
                // display: none;
            }
        }
    }

    // Toggle Rules Button
    .toggle-rules-button {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        margin-bottom: 10px;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #0056b3;
        }

        @media (max-width: 768px) {
            width: 100%;
            padding: 10px;
        }
    }

    .input-result-rules-container {
        height: 600px;
        @include flexRow();
        align-items: flex-start;
        gap: 20px;

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }
    }

    .input-result-container {
        height: 600px;
        @include flexColumn();
        justify-content: flex-start;

        @media (max-width: 768px) {
            width: 200px;
        }
    }

    .input-box-container {
        height: 350px;
        @include flexColumn();
        justify-content: flex-start;
        gap: 20px;

        @media (max-width: 768px) {
            width: 200px;
            padding: 0 10px;
            height: fit-content;
        }
    }

    .result-card {
        background-color: $background-color;
        border-radius: $border-radius;
        padding: $padding;
        margin-top: $margin-top;
        width: $input-box-width;
        box-shadow: 0 2px 4px $box-shadow-color;
        text-align: center;

        h3 {
            font-size: $font-size-heading;
            color: $text-color;
        }

        p {
            font-size: $font-size-large;
            color: $primary-color;
            font-weight: bold;
        }

        @media (max-width: 768px) {
            width: 90%;
        }
    }

    .floating-toolbar {
        position: absolute;
        z-index: 10;
        display: none;
        /* Initially hidden */
        background-color: $background-color;
        border: 1px solid $input-border-color;
        border-radius: $border-radius;
        padding: $padding;
        box-shadow: 0 2px 6px $box-shadow-color;
        cursor: move;

        .button-class {
            @include buttonBaseStyles();
            margin: 0 5px;
            background-color: $primary-color;
            color: white;

            &:hover {
                background-color: $hover-color;
            }
        }



        .delete-button-class {
            background: transparent;
            border: none;
            color: red;
            cursor: pointer;
            font-size: 12px;
            padding: 0;
        }

        .custom-toolbar-buttons {
            display: inline-flex;
            align-items: center;
            margin: 5px;
        }

        .custom-character-input-container {
            display: flex;
            align-self: center;
            margin-top: 10px;

            .custom-character-input {
                @include buttonBaseStyles();
                background: white;
                color: $text-color;
            }
        }
    }
}

// Global Media Queries
@media (max-width: 768px) {
    #{$component-class} {
        .input-box {
            width: 80vw;
            min-height: 200px;
        }
    }
}

@media (max-width: 480px) {
    #{$component-class} {
        .input-box {
            font-size: $font-size-small;
            padding: calc($input-padding / 2);
        }

        .button {
            font-size: $font-size-small;
            padding: calc($button-padding-y / 2) calc($button-padding-x / 2);
        }
    }
}